@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", serif;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

:root {
  --primary: #cf3339;
  --primary-dark: #a5272d;
  --black: black;
  --white: white;
  --gray: gray;
  --blue: #1890ff;
  --light-gray: #f0f0f0;
  --dark-blue: #0e091c;
  --green: #33cfca;
  --orange: #cf6933;
  --pink: #cf336c;
  --light-green: #33cf89;
  --light-blue: #33a6cf;
  --purple: #6933cf;
  --yellow: #cfc433;
  --blueberry: #18102e;
}
