.container {
  .skill {
    padding: 50px 0;
    margin: 0 100px;
    overflow: hidden;
    @media (max-width: 1023px) {
      margin: 0 20px;
    }
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 40px;
      color: var(--primary);
      text-align: center;
    }
    .marquee {
      overflow-x: visible;
    }
  }
}
